/* CSS Document */


.informacion_cuenta {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 3;
	margin: 10px;
	
	
}



.computadora {
	margin: 10px;
	grid-column-start: 2;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 2;
	
	
}

.sesion {
	margin: 10px;
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 3;
}

.titulos {
	font-size: 20px;	
    background: linear-gradient(to right, #4cb8c4, #3cd3ad);
    -webkit-background-clip: text;
    color: transparent;
	margin: auto;
	font-weight: 600;
	margin-bottom: 10px;
}

.tablita {
	display: grid;
	grid-template-columns: 90px auto;
	
}



.etiquetas {
	text-align: right;
	padding-right: 15px;
	display: grid;
	grid-auto-rows: 30px;
	
}

.tablita2 {
	display: grid;
	grid-template-columns: 120px auto;
	
}

.titulos div div div{
	
}

.cerrarSesion {
	font-size: 20px;	
    background: linear-gradient(to right, #FF0000, #FF59AC);
    -webkit-background-clip: text;
    color: transparent;
	text-align: center;
	font-weight: 600;
	margin-bottom: 10px;
}

.cerrarSesion img{
	color: red;
}

.svg{
	fill: #FF211E;
	width: 48px;
	height: 48px;
	margin: auto;
	cursor: pointer;
}



.btnCambiar {
	margin-top: 60px;
	cursor: pointer;
}
