@charset "utf-8";

@font-face {
  font-family: 'Helvetica';
  src: url("../Fonts/helvetica-bold.otf");
 
}

@font-face{
	font-family: 'Kodchasan';
	src: url("../Fonts/Kodchasan/Kodchasan-Regular.ttf"),url("../Fonts/Kodchasan/Kodchasan-Bold.ttf"),url('../Fonts/Kodchasan/Kodchasan-ExtraLight.ttf');
}
input{
	font-family: 'Kodchasan';
}



body{
	font-family: 'Kodchasan';
    /*color de fondo*/
	
    background-color: rgba(28,30,33,1.00);
    /*color de la letra*/
    color: rgba(200,200,200,1.00);
}
header{
    background-color: rgba(36,37,38,1.00);
    box-shadow: 0px 0px 5px 0.1px black;



}

.titulo , .Titulo-de-pagina{
   /* color: #1D8348;*/
	 /*este es el color verde*/
	
	
	background: linear-gradient(to right, #4cb8c4, #3cd3ad);
    -webkit-background-clip: text;
    color: transparent;
   
}



/*Aplicar Etilo a cajas de contenido*/
.div-login-registro,.selector,.btn_tomar, .div-cuerpo-tareas-tutorias  ,.caja_Default ,.popup-tareas-agregar , .bnt-agregar , .contenedor,.popup-Profes-agregar ,.btnRegresar , .btnRegresarRegistro , .btnInfo ,.btnEliminarProfe ,.div-admin-registro,.cajaContenido,.popup{
    /*color del fondo de las cajas de formulario*/
    background-color: rgba(36,37,38,1.00);
    /*sombra de las cajas por ejemplo la caja redondeada de los formularios de registro de secion*/
    box-shadow: 0px 0px 10px 0.1px rgba(0,0,0,1.00);
}



.btn_tomar{
    color: white;
}


.separador {
    /*color de la lineas <hr>*/
    border-color: black;
}

.btn-iniciar-registrar, .btn-incribir {
    /*color del fondo de botones verdes
    background-color:#1d8348;
    color de la letra
    */
	
	
	background: -webkit-linear-gradient(to right, #2b5876, #4e4376); 
    background: linear-gradient(to right, #2b5876, #4e4376); 
	color: white;
	

}

.btn-cuenta-nueva {
  
	/*Color verde*/
    /* background-color: limegreen;*/
	
	
	/*Degradado*/
	background: -webkit-linear-gradient(to right, #0072ff, #00c6ff);  
	background: linear-gradient(to right, #0044FF, #00AEE0); 
	color: white;
	
}

.input,.input_form{
    /*fondo de los inputs*/
    background-color: rgba(36,37,38,1.00);
    color: white;
    border-color: black;
	

}


.input_valid {
    border-color: lime;
}

.input_invalid {
    border-color: red;
}


/*----------------
Hasta aqui pag inicio y registro
------------------*/
.btn-color-verde{
    background-color:#1d8348; 
} 
.btn-color-rojo{
    background-color: red;
}

.overlay{
    background: rgba(3,3,3,0.6);
}
.btnTema {
    background-image: url("../Media/IMG/sol.png");
    background-repeat: no-repeat;
    background-position:center;
}